@import '../../Sass/main.scss';

.form {
  align-content: center;
  width: 100%;

  @include for-size(mobile) {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.name {
  font-size: 22px;
  font-weight: bold;
  margin-right: 10px;
}
.button {
  display: inline-block;
  background-color: #343a40;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;

  @include for-size(mobile) {
    margin-top: 10px;
  }
}

.label {
  margin: 15px;
  align-items: center;
}

.input {
  padding: 8px;
  background-color: thistle;
}
